.boton-auth {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.boton-auth:hover {
    background-color: var(--third-color);
    color: black;
}

.boton-auth svg {
    font-size: 20px;
}