.carrito-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 20px;
  top: 100px;
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  width: 450px;
  max-height: 80vh; /* 80% del viewport */
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.carrito-producto {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.carrito-miniatura {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.carrito-detalles {
  flex: 1;
}

.carrito-controles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  flex-wrap: wrap;
}

.carrito-input {
  width: 50px;
  text-align: center;
}

.carrito-container h3 {
  text-align: right;
  margin-top: 15px;
}

.boton-estilizado {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.boton-estilizado:hover {
  background-color: #e74c3c;
}

.boton-eliminar {
  background-color: var(--third-color);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.boton-eliminar:hover {
  background-color: #a71d2a;
}

.boton-eliminar:hover {
  background-color: #a71d2a;
}

.boton-vaciar {
  margin-top: 10px;
  width: 100%;
}

.boton-finalizar {
  margin-top: 10px;
  width: 100%;
}