.footer {
    text-align: center;
    background: #7f8c8d;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;    
  }
  
  .contenedor-principal {
    padding-bottom: 70px; 
  }