h2 {
  padding-bottom: 40px;
}

.card-producto {
  width: 100%;
  aspect-ratio: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  overflow: visible; 
  position: relative;
  z-index: 1;


}

.card-producto:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.custom-img {
  width: 100%; 
  height: auto;  
  object-fit: cover;
}

.btn-agregar {
  background-color: var(--primary-color) !important;
  border-color: var(--third-color) !important;
  color: white !important;
}

.btn-agregar:hover {
  background-color: var(--third-color) !important;
  border-color: var(--third-color) !important;
}

.btn-ver-mas {
  background-color: var(--secondary-color) !important;
  border-color: var(--third-color) !important;
  color: white !important;
}

.btn-ver-mas:hover {
  background-color: var(--third-color) !important;
  border-color: var(--third-color) !important;
}

.d-flex {
  margin-top: 75px;
}

.active>.page-link, .page-link.active {
  background: var(--primary-color) !important;
  border: var(--third-color) !important;
  color: black !important;
}

.page-link {
  color: black !important;
}

@media (max-width: 576px) {
  .card-producto {
    aspect-ratio: 3 / 5;
  }

  .custom-img {
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 768px) {
  .card-producto {
    aspect-ratio: 3 / 4;
  }
}