.mt-4 {
  margin-bottom: 100px;
}

.card-producto {
  width: 300px; /* Establece un ancho fijo */
  min-height: 350px; /* Mantiene una altura uniforme */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-img {
  height: 350px; /* Ajusta la altura sin deformar la imagen */
  object-fit: cover; /* Asegura que la imagen mantenga sus proporciones */
}